/*
** 
**             File: adverts.css
**          Created: 2009/10/13
**         Modified: 2012/09/27
**          Creator: Micky Hulse
**           Author: Micky Hulse
** 
*/

	/*----------( GLOBALS: )---------*/
		
		object:hover { border: 0 none; } /* http://markmail.org/message/fd43pqqw255k324k */

	/*----------( PENCIL LEAVE BEHIND: )---------*/
		
		#billboard {
			text-align: center;
			height: 90px; /* Use an inline 'height' style if tease ad is shorter/taller than 90px. */
			background: #fff url(loader.gif) no-repeat center center;
		}
		#billboard object,
		#billboard div {
			width: 100% !important;
			height: 100% !important;
		}
		#billboard object {
			margin: 0 auto;
			display: block;
		}
		#billboard div {
			display: none; /* JS controls visibility. */
			overflow: hidden; /* Otherwise we get scrollbars. */
		}
		#billboard { overflow: auto !important; } /* Needed for Firefox! See: http://dev.jquery.com/ticket/4872 */

	/*----------( PAGE PEEL: )---------*/
		
		#peel {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 999;
			width: 100px;
			height: 100px;
			text-align: right;
			overflow: hidden;
			display: none; /* JS controls visibility. */
		}